
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

.vscode/


packages/
*.nupkg
*.snupkg

wwwroot/lib/
wwwroot/node_modules/

*.log


*.mdf
*.ldf
*.ndf

Migrations/

appsettings.Local.json
appsettings.*.Local.json
.env
.env.*


.DS_Store
Thumbs.db